html {
    background-color: white;
    font-family: Arial, sans-serif;
}

.contenedor-formulario {
    background: linear-gradient(45deg, #131086, #b621f3);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    width: 400px;
    height: 450px;
}

#titulo {
    text-align: center;
    color : white;
    border: 1cm;
}

.formulario {
    padding: 10px;
    text-align: center;
}

label {
    font-size: 12pt;
    color: white;
}

input {
    border-radius: 10px;
    padding: 5px;
}

button {
    font-size: 12pt;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

.nombre-estudiante {
    text-align: center;
    color: white;
}

.nota-definitiva {
    font-weight: bold;
    text-align: center;
    color: black;
}

.mensaje-error {
    font-weight: bold;
    text-align: center;
    color: black;
}
